* {
    font-family: 'Inter', sans-serif;
}

.nav-link, .navbar-brand {
    transition: color 0.3s ease, opacity 0.3s ease;
}

.nav-link:hover, .navbar-brand:hover {
    color: #ffc107 !important;
}

.custom-btn {
  background-color: #ffc107;
}

.custom-btn:hover {
  background-color: transparent;
  color: #ffc107;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #ffc107;
}